header {
    height: 150px;
    background-color: rgb(241, 248, 176);
    border-bottom: black 2px solid;
    
}

header h1 {
    text-align:center;
    margin-block-start:0;
    margin-block-end:0;
    padding-top: 25px;
}

header img {
    float: left;
}

header nav {
    /* border: 1px solid red; */
}

header nav ul {
    list-style-type: none;
    /* border: 1px solid green; */
    padding-left: 0px;
    text-align: right;
}

header nav li {
    /* border: 1px solid black; */
    width: 150px;
    display: inline-block;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

header nav li a:link {
    color:cornflowerblue;
    text-decoration: none;
}

header nav li a:visited {
    color:darkgrey;
}

header nav li a:hover {
    color:rgb(240, 62, 136);
    text-decoration: underline;
}

header nav li a:active {
    color: white;
}

body {
    background-color: bisque;

}

#container {
    margin: 0 auto;
    width: 900px;
    border-bottom: 2px solid;
    background-color:rgb(245, 199, 199);
    border-radius:20px;
    overflow: hidden;

}

main {
    height: 500px;
    background-color: white;
    border-bottom: black 2px solid;
}

footer {
    height: 200px; 
    background-color: teal;
}

footer p {
    margin-block-start: 0;
    margin-block-end: 0;
}

#copyright {
    text-align: center;
    font-family:Arial;
}