#logo {
    position:fixed;
    top: 0;
    left: 0;
}

#header {
    text-align: center;
}

#h1 {
    text-align: center;
    color: #684DFF;
}


body {
    background-color:rgb(240, 248, 250);
}

a {
    color: #F5C44C;
}

#main {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 30em;
   height: 400px;
   margin-top: -10em;
   margin-left: -15em;
   border: 3px solid cornflowerblue;
   background-color: white;
   color: #4E98D4;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
}

p.bodytext1 {
    font-weight: bolder;
}

#sidemenu {
    float: right;
    background: rgb(240, 248, 250);
    width: 20%;
    height: 280px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    color: #4E98D4;
}


